@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #f4f4f4;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
  /* overflow: hidden; */
  margin: 0;
  padding: 10px;
}

.testimonials-container {
  background-color: #476ce4;
  color: #fff;
  border-radius: 8px;
  margin: 0; /* Remove margin: 20px auto; */
  padding: 50px 80px;
  max-width: none; /* Remove max-width: 768px; */
  position: relative;
  width: 100%; /* Make the width 100% of the viewport width */
}

/* ... (existing styles) */

@media (max-width: 768px) {
  .testimonials-container {
    padding: 20px 30px;
  }
}
.fa-quote {
  color: rgba(255, 255, 255, 0.3);
  font-size: 28px;
  position: absolute;
}

.fa-quote-left {
  left: 80px;
}

.fa-quote-right {
  right: 60px;
}

.testimonial {
  line-height: 28px;
  text-align: justify;
  margin-left: 35px;
}

.user {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user .user-image {
  border-radius: 50%;
  height: 75px;
  width: 75px;
  object-fit: cover;
}

.user .user-details {
  margin-left: 10px;
}

.user .username {
  margin: 0;
}

.user .role {
  font-weight: normal;
  margin: 10px 0;
}

.progress-bar {
  background-color: #fff;
  height: 4px;
  width: 100%;
  transform-origin: left;
  animation: grow 5s linear infinite;
}

@keyframes grow {
  0% {
    transform: scaleX(0);
  }
}

@media (max-width: 768px) {
  .testimonial-container {
    padding: 20px 30px;
  }

  .fa-quote {
    display: none;
  }
}
.digit {
  margin-top: 0;
  font-size: 100px;
  color: rgba(186, 211, 235, 0.705);
  position: absolute; /* Add this line */
  top: 5px; /* Adjust the top value as needed */
  left: 10px;
}
